fastapi>=0.100.0
uvicorn>=0.23.0
langchain>=0.1.0
langchain-community>=0.1.0
langchain-core>=0.1.0
langchain-groq
langchain-openai
qdrant-client>=1.7.0
python-dotenv
transformers==4.40.2
langchain-text-splitters==0.3.3
scikit-learn
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
slowapi
tenacity
pydantic
pydantic-settings
python-multipart
pypdf
python-docx
docx2txt
tavily-python
httpx==0.25.2
beautifulsoup4
unstructured
supabase==2.3.4
gotrue==2.8.1
postgrest==0.15.1
upstash-redis>=0.15.0
apscheduler
psutil
pytesseract
pdf2image